.footer {
    padding: 0 70px;
    margin-top: 80px;
}

.footer__title {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: #8B8B8B;
    border-bottom: 1px solid #424242;
    padding-bottom: 20px;
    margin: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    padding: 20px 0;
}

.footer-content__date {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
}

.footer-links {
    margin: 0;
}

.footer-links__items {
    display: flex;
    margin: 0;
    padding: 0;
    column-gap: 20px;
    list-style-type: none;
}

.footer-links__item {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
}

.footer-links__item:hover {
    opacity: .7;
}

@media (max-width: 769px) {
    .footer {
        padding: 0 30px;
    }
}

@media (max-width: 445px) {
    .footer {
        padding: 0 10px;
    }

    .footer-content {
        flex-direction: column;
        margin: 15px 0 0;
    }

    .footer-content__date {
        order: 1;
        font-size: 12px;
        line-height: 15px;
        color: #8B8B8B;
        margin-top: 30px auto 10px;
    }

    .footer-links__items {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }

    .footer-links__item {
        margin: 0 auto;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
    }
}