.noResult {
    max-width: 600px;
    color: #8b8b8b;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    display: block;
    text-align: center;
    margin: 75px auto 0;
    padding-right: 70px;
    padding-left: 70px;
}

@media (max-width: 420px) {
    .noResult {
        font-size: 12px;
        line-height: 18px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

;